.character-card {
  width: 22%;
  background: white;
  border-radius: 5px;
  padding-bottom: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: ease .4s;
  &:hover {
    box-shadow: 2px 2px 10px 0px black;
  }
  &__img {
    width: 80%;
    margin: 0 auto;
    img {
      position: relative;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 10px;
      max-width: 100%;
      max-height: 100%;
      box-shadow: 0px 7px 20px 0px rgb(70, 70, 70);
      transition: ease .5s;
    }
  }
  &__preloader {
    width: 70%;
    height: 100%;
    min-height: calc(max(100vw, 100vh) / 5 * .7);
    background: rgb(239, 237, 237);
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    top: -15px;
    box-shadow: 0px 7px 20px 0px rgb(70, 70, 70);
  }
  &__name {
    font-weight: bold;
    text-align: center;
  }
}

@media (max-width: 670px) {
  .character-card {
    width: 44%;
  }
}